body {
  margin: 0;
  text-align: center;
  font-family: 'Poppins';
  font-size: 18;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
font-size: 1.2rem;
}

.top-container {

  margin: auto;
  background-image: url("../images/bg-hero-desktop.svg");
  position: relative;
  text-align: left;
  height: 400px;
  /*no good*/
  background-color: #F3F8FF;
  padding-left: 20px;
  padding-bottom: 80px;
}

.inside-top-continer {
  padding-top: 10px;
  padding-bottom: 50px;
}

#Huddle-logo {
  position: absolute;
  left: 0px;
  height: 5%;
  padding-left: 20px;
}

#Try-it-free-button {
  position: absolute;
  right: 0px;
  margin-right: 20px;
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Arial;
  color: #000000;
  font-size: 12px;
  background: #ebeef0;
  padding: 10px 29px 10px 29px;
  text-decoration: none;
}

#Try-it-fee-button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.Get-started-button {
  position: absolute;
  left: 0px;
  margin-top: 40px;
  margin-left: 20px;
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #fa0afa;
  padding: 10px 29px 10px 29px;
  text-decoration: none;
}

.Get-started-button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#illustration-mockup-image {
  width: 50%;
  float: right;
  margin-right: 20px;
}

.middle-container {
  padding-top: 50px;
}

.inside-middle-container {
  width: 70%;
  margin: 40px auto;
  text-align: left;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  border-color: #f5f0f5;
  padding: 60px 30px 30px 30px;

}

.grow-together-image {
  width: 25%;
  float: right;
  margin: auto;
}

.flowing-image {
  width: 25%;
  float: left;
}

.your-uses-image {
  width: 25%;
  float: right;
}

.paragraf-text {
  padding-bottom: 50px;
}

.ready-to-build-container {
  position: absolute;
  background-color: white;
    border-radius: 8px;
    right: 400px;


}

.bottom-container {

  background-color: #686f8c;
  margin-top: 100px;
}

#Huddle-logo-bw{
  position: absolute;
  left: 0px;
  height: 5%;
  padding-left: 20px;
  -webkit-filter: grayscale(100%);
filter: grayscale(100%);
}
